* {
    padding: 0;
    margin: 0;
}

html {
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: black;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/* Contenedor principal */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 5em;
    width: 100vw;
    height: 100vh;
}

.search {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 2 / 5;
}

.playlist {
    top: 0.1em;
    position: relative;
    width: 100%;
    height: 100%;
    grid-area: 2 / 1 / 10 / 2;
}

.resultado {
    width: 100%;
    height: 100%;
    grid-area: 2 / 2 / 10 / 4;
}

.lyrics {
    top: 0.1em;
    position: relative;
    width: 100%;
    height: 100%;
    grid-area: 2 / 4 / 10 / 5;
}

.player {
    width: 100%;
    height: 100%;
    grid-area: 10 / 1 / 14 / 5;
}


/* Componente Search */
.searchnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.493);
    border-bottom: 0.1em solid white;
}


.Searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.SearchbarInput {
    border-radius: 0.5em;
    border: 0.17em solid gray;
    width: 30em;
    height: 2em;
    color: white;
    background-color: transparent;

}

.SearchbarInput:focus {
    outline: none;
    border: 0.17em solid #ffffff;
    box-shadow: 0 0 0.5em #ffffff;
}

.SearchbarButton {
    border-radius: 0.5em;
    border: none;
    background: none;
    color: white;
    font-weight: bold;
}

.SearchbarButton:hover {
    cursor: pointer;
    box-shadow: 0 0 0.5em #ffffff;
}

/* Playlist */
.playlistcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 98%;
    background-color: rgba(41, 41, 41, 0.493);
    color: white;
    font-size: 0.5em;
    overflow: hidden;
    border-radius: 0.4em;
}

.playlistTitle {
    position: relative;

}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    border-bottom: 0.01em solid white;
}

.box button {
    border: none;
    background: none;
    color: white;
    font-size: 0.7em;
    position: relative;

}

.box button:hover {
    cursor: pointer;
}

.box button:active {
    color: gray;
}

.innerPlaylist {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    top: 0.5em;
    position: relative;
}

.innerPlaylist::-webkit-scrollbar {
    display: none;
}

.outFolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Folder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1.7em;
}

.folderName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.5em;
    height: 60%;
    width: 70%;
    position: relative;
    overflow: hidden;
    border-radius: 0.3em;
}

.PlaylistFolderName {
    position: absolute;
}

.Folder i {
    font-size: 0.5em;
    color: white;

}

.Folder i:hover {
    cursor: pointer;

}

.music {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
    overflow: hidden;
    font-size: 0.4em;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.music::-webkit-scrollbar {
    display: none;
}

.musicName {
    position: relative;
    overflow: hidden;

}

.musicName span {

    width: 100%;
    height: 100%;
}

.musicName:hover {
    cursor: pointer;
}




/* Result component */
.ResultContainer {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
}

.tittle {
    font-size: 0.5em;
}

.ResultBox {
    color: white;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    min-height: 0;
    height: 100%;
}

.ResultBox::-webkit-scrollbar {
    display: none;
}

.ResultSong {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 90%;
    height: auto;
    background-color: rgba(41, 41, 41, 0.493);
    margin-top: 0.1em;
    border-radius: 0.4em;
    padding: 0.1em;
    align-items: center;
}

.ResultSong:hover {
    background-color: rgba(41, 41, 41, 0.8);
}

.ResultSong i:hover {
    cursor: pointer;
    color: rgba(78, 77, 77, 0.8);
    transition: 0.3s;
}

.ResultSong i {
    font-size: 0.5em;
}

.ResultImg {
    border-radius: 0.4em;
    width: 80%;
    height: auto;
    grid-area: 1 / 1 / 2 / 2;
}

.musicname {
    font-size: 0.2em;
    grid-area: 1 / 2 / 2 / 4;
}

#play {
    display: flex;
    align-items: center;
    grid-area: 1 / 6 / 2 / 7;
}

#options {
    display: flex;
    align-items: center;
    grid-area: 1 / 7 / 2 / 8;
}

/* lyrics */
.lyricsbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 98%;
    background-color: rgba(41, 41, 41, 0.493);
    color: white;
    font-size: 0.5em;
    overflow: hidden;
    border-radius: 0.4em;
}

.Lyrics {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: white 0.01em solid;
}

.innerlyricsbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: -0.9em;
    position: relative;
}

.lyricscontainer::-webkit-scrollbar {
    display: none;
}

.lyricscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(41, 41, 41, 0.493);
    width: 90%;
    height: 80%;
    padding: auto;
    border-radius: 0.1em;
    overflow: hidden;
    overflow-y: scroll;
    text-align: center;
}

.innerlyricsbox p {
    font-size: 0.4em;

}

.lyricsSearch i:hover {
    cursor: pointer;
    color: rgba(78, 77, 77, 0.8);
}


/* player */
.playercontainer{
    bottom: 0;
    position: relative;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 0.5em;
    background-color: rgba(41, 41, 41, 0.493);
    color: white;
    width: 100%;
    height: 100%;
}

.songImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 3 / 3;
}
.songImg img{
    width: 50%;
    height: auto;
}

.songName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-area: 1 / 3 / 3 / 4;
    width: 100%;
    height: 100%;
    font-size: 50%;

}

.barmusic{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2 / 4 / 3 / 11;
    width: 100%;
    height: 100%;

}
.barmusic input[type=range] {
    width: 90%;
    height: 0.3em;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 0.4em;
}

.divbutton{
    top: 0.8em;
    position: relative;
    grid-area: 1 / 6 / 2 / 9;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vol{
    grid-area: 1 / 11 / 3 / 14;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.vol input[type=range] {
    width: 40%;
    height: 0.3em;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 0.4em;
}